<h2>HTML Table</h2>

<table>
  <tr>
    <th>FullaName</th>
    <th>age</th>
    <th>Email</th>
    <th>adress</th>
    <th>Action</th>
  </tr>
 {{#each data}}  
  <tr>
    <td>{{this.fullName}}</td>
    <td>{{this.age}}</td>
    <td>{{this.email}}</td
    <td>{{this.adress}}</td>
    <td>
      <form action="getUser/{{this.id}}" method="GET">
        <input type="text"/> 
        <button type="submit">Edit</button>
      </form>
        <form action="/delete-users" method="POST">
          <input type="text" value={{this.id}} name='userId'/>
          <button type="submit">Delete</button>
        </form>
    </td>
  </tr>
 {{/each }}
</table>

<form action="/create-users" class="form" 
   method="POST" >
  <label for="fullName">full name:</label><br>
  <input type="text" name="fullName"><br>
  <label for="age">age:</label><br>
  <input type="text" name="age"><br>
  <label for="email">Email:</label><br>
  <input type="text" name="email"><br>
  <label for="adress">adress:</label><br>
  <input type="text" name="adress">
  <br><br>
   <button type="submit">Submit</button>
</form> 