<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
{{data}}
<form action="/Update" class="form" 
   method="POST" >
  <label for="fullName">full name:</label><br>
  <input value={{data.fullName}} name="fullName"><br>
  <label for="age">age:</label><br>
  <input value={{data.age}} name="age"><br>
  <label for="email">Email:</label><br>
  <input value={{data.email}} name="email"><br>
  <label for="adress">adress:</label><br>
  <input value={{data.adress}} name="adress"><br>
  <input type="text" value={{data.id}} hidden name="userId">
  <br><br>
   <button type="submit">Save</button>
</form> 

   
</body>
</html>
